/ = image_tag(image_url("15681414/1"))
%div{id: "home_#{home.listing_id}"}
  .left_box
    .picture_box
      = image_tag(home.image_url, id: "image_#{home.listing_id}", class: 'house_image')
      %iframe{src: home.google_map_url, class: 'google_map hidden', id: "map_#{home.listing_id}"}
    .image_count
      - index = 1
      - home.image_count.to_i.times do
        = link_to(index, '#', {'data-image-id' => index, 'data-home-id' => home.listing_id})
        - index += 1
        .spacer
          %nbsp
      = link_to('map', '#', {'data-map-home-id' => home.listing_id})
  
  
  .right_box
    %h1 
      
      - active_class = home.active ? 'active_home' : 'inactive_home'
      %span{class: active_class}
        = home.address
      %span.spacer
      = '-'
      %span.spacer
      = home.price
    
    %h3 
      = home.listing_id
      %span.spacer
      = ''
      
      Score:
      %span{id: "score_#{home.id}"}
        = home.scorecard.calculate_score
      %span.spacer
      = ''
      / %span.spacer
      Value:
      %span{id: "value_#{home.id}"}
        = home.value
      %span.spacer
      = link_to('Zillow', home.zillow_url, target: '_blank')
      %span.spacer
      = link_to('Portland Maps', home.portland_map_url, target: '_blank')
  
    .details
      .line
        Bedrooms:
        = home.bedrooms
        .spacer
        Bathrooms:
        = home.bathrooms
        .spacer
        Square Footage:
        = home.square_footage
        .spacer
        Year Built:
        = home.year_built
        .spacer
        Listed:
        = home.listed
      .line
        Lot:
        = home.lot_info
        .spacer
        Parking:
        = home.parking
        .spacer
        Garage:
        = home.garage
      .line
        Walk Score:
        = home.walk_score
        .spacer
        Transit Score:
        = home.transit_score
        .spacer
        Bike Score:
        = home.bike_score
        .spacer
        Property Tax:
        = home.property_tax
        
      %p
        = home.description
    = form_for(home, remote: true) do |f|
      - if home.errors.any?
        #error_explanation
          %h2= "#{pluralize(@home.errors.count, "error")} prohibited this home from being saved:"
          %ul
            - home.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :notes
        %br
        = f.text_area :notes
      = f.fields_for :scorecard do |form|
        - options_array = [['', Scorecard::UNKNOWN], ['Poor', Scorecard::POOR], ['Average', Scorecard::AVERAGE], ['Good', Scorecard::GOOD], ['Awesome', Scorecard::AWESOME]]
        %table
          %th
            %tr
              %td
                .field.center.right_push
                  = form.label :location
                  %br
                  = form.select(:location, options_for_select(options_array,home.scorecard.location))
              %td
                .field.center.right_push
                  = form.label :kitchen
                  %br
                  = form.select(:kitchen, options_for_select(options_array,home.scorecard.kitchen))
              %td
              %td
                .field.center.right_push
                  = form.label :light
                  %br
                  = form.select(:light, options_for_select(options_array,home.scorecard.light))
              %td
                .field.center.right_push
                  = form.label :potential
                  %br
                  = form.select(:potential, options_for_select(options_array,home.scorecard.potential))
              %td
                .field.center.right_push
                  = form.label :charm
                  %br
                  = form.select(:charm, options_for_select(options_array,home.scorecard.charm))
              %td
                .field.center.right_push
                  = form.label :layout
                  %br
                  = form.select(:layout, options_for_select(options_array,home.scorecard.layout))
              %td
                .field.center.right_push
                  = form.label :yard
                  %br
                  = form.select(:yard, options_for_select(options_array,home.scorecard.yard))
                
                
            
      .actions
        = f.submit 'Save'
        = f.submit 'Reject'
      .success.hidden
        Saved
      .failure.hidden
        Error
  .bottom

